---
import WikiLayout from '../layouts/WikiLayout.astro';
---

<WikiLayout title="Plantilla" description="Plantilla">

    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-6">Plantilla</h1>
        <p class="text-gray-600 mb-4">
            Plantilla
        </p>
    </div>
</WikiLayout>


<script>  </script>

<style></style>




